*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;;
    padding: 0;
    margin: 0;
    background: #F3F5FC;
    height: 100%;
}
#logo-alura{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
}
.areaPrincipal{
    display: inline-block;
    height: 900px;
    padding: 150px 50px 40px 50px;
}
.segundaArea{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 80px 30px 100px;
}
.segundaArea textarea{
    background: #F3F5FC;
    color: #0a3871;
    font-weight: 800;
    font-size: 2em;
    height: 500px;
    max-height: 300px;
    width: 90%;
}
textarea{
    border: none;
    outline: none;
    resize: none;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    color: 0a3871;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0A3871;
    border: 3px solid #0A3871;
    transition: 1s;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
}
.advertencia{
    font-size: 10px;
    height: 15px;
}
.advertencia img{
    width: 10px;
    margin-left: 0;
}
#Encriptar{
    background-color: #0A3871;
    color: white;
}
#Desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
}
#Encriptar:hover{
    background-color: #FFFFFF;
    color: #0A3871;
}
#Desencriptar:hover{
    background-color: #0A3871;
    color: #FFFFFF;
}

/*!Mensaje encriptado!*/



#mensaje{
    background-color: white;
    border-radius: 32px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
}
#obtenerMensaje{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    height: 90%;
    width: 90%;
    font-size: 1em;
    
}
#obtenerMensaje textarea{
    width: 100%;
    min-height: 400px;
    text-align: justify;
    height: 200px;
    margin-bottom: 10px;
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: justify;
    min-height: 200px;
    height: auto;
}

#textoGrande{
    margin-top: 20px;
    color: #343A40;
    font-weight: 700;

}
#textoPequeño{
    color: #495057;
    font-size: 70%;
}
img{
    width: 200px;
}
#copias{
    background-color: #D8DFE8;
    color: #0A3871;
    display: inline-block;
    
}
#copias:hover{
    background-color: #0A3871;
    color: #FFFFFF;
}
#copiarMensaje {
 
    display: inline-block;
}
#copiarMensaje textarea{
    background: #F3F5FC;
    color: #0a3871;
    font-weight: 800;
    font-size: 2em;
    height: 500px;
    max-height: 300px;
    width: 90%;
}




